:root {
    --red: #DF1B3F;
    --bleu: rgb(25, 32, 78, 0.95);
    --grey: #e2e2e2;
    --yellow: rgb(252, 179, 0);
}


.circle, .circle2, .circle3, .circle4, .circle5, .circle6 {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    outline: none;
    background-color: rgb(15, 20, 52);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 35px;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
  }

.box1, .box2, .box3, .box4, .box5, .box6{
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: center;
    margin-top: 15px;
}

.game2 {
    width: 75%;
    margin: auto;
    border-radius: 20px;
    border: 2px solid white;
}

.player{
    display: none;
    justify-content: center;
}



.animated {
    animation: flip 0.5s ease; 
}

@keyframes flip {
    0% {
        transform: scaleY(1);
        
    }
    50% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}

.revealPhoto {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--red); 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.revealPhoto:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}


.reveal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reveal-content img {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
