<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/burger.css">
    <link rel="stylesheet" href="/CSS/popup.css">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/game3.css">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <button class="burger" onclick="show()">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
        </button>
        <nav>
            <h1>Football Games</h1>
            <ul>
                <li>
                    <a href="game1.html">Who are ya ?</a>
                    <p>Find the player</p>
                </li>
                <li>
                    <a href="game2.html">Player Wordle</a>
                    <p>Find the player's name</p>
                </li>
                <li>
                    <a href="game3.html">Bingo Stats</a>
                    <p>Who has this stat</p>
                </li>
                <li>
                    <a href="#">Coming Soon</a>
                </li>
                <li>
                    <a href="/">Back to lobby</a>
                </li>
            </ul>
        </nav>
    </div>
    <header>
        <a class="title"></a>
        <section class="button-connection">
            <a href="/">Home</a>
            <a href="#rules" onclick="togglePopup2()">Rules</a>
            <a href="#login" onclick="togglePopup()">Login</a>
            <a href="signup.html">Sign Up</a>
        </section>
    </header>
    <main>
        <div id="wrapper">
            <form action="" id =loginForm>
                <h1>Login</h1>
                <div class="input-box-login">
                    <input type="text" id="email" placeholder="Email" required>
                    <i class="material-icons">
                        account_circle
                    </i>
                </div>
                <div class="input-box-login">
                    <input type="password" id="password" placeholder="Password" required>
                    <i class="material-icons">
                        lock
                    </i>
                </div>

                <div class="remember-forgot">
                    <label class="checkbox-popup"><input type="checkbox">Remember me</label>
                    <a href="#">Forgot password?</a>
                </div>

                <div class="loginStatus" id = "loginStatus">

                </div>

                <button type="submit" class="btn-login"> Login </button>

                <div class="signup-link">
                    <p>Don't have an account? <a href="signup.html">Signup now</a></p>
                </div>
                <a href="javascript:void(0)" onclick="togglePopup()" class="popup-exit">
                    <i class="material-icons">
                        close
                    </i>
                </a>
            </form>
        </div>
        <div id="wrapper2">
            <form action="">
                <h1>Rules</h1>
                <a href="javascript:void(0)" onclick="togglePopup2()" class="popup-exit">
                    <i class="material-icons">
                        close
                    </i>
                </a>
                <p>Find out which player the displayed stats belong to</p>
                <p>You have 3 attempts</p>
                <p>Good luck !</p>

            </form>
        </div>
        <section class="main">
            <div class="game-content">
                <h1>Bingo Stats</h1>
                <p>Guess the player's stat</p>
                <div class="game">
                    <div class="hearts">
                        <div class="heart1">❤️</div>
                        <div class="heart2">❤️</div>
                        <div class="heart3">❤️</div>
                    </div>
                    <div class="stat">
                    </div>
                    <div class="players">
                    </div>
                </div>
                <div class="map">
                </div>
                <div class="retry">
                    <button class="playagain">Play again</button>
                </div>
            </div>
        </section>
    </main>
    <script src="/JS/login.js"></script>
    <script src="/JS/burger.js"></script>
    <script src="/JS/game3.js" type="module"></script>
    <script type="module">
        import {getUserStats } from '/JS/incrementWin.js';
        window.onload = function() {
            fetch('/is-logged-in')
                .then(response => response.json())
                .then(data => {
                    if (data.isLoggedIn) {
                        getUserStats().then(stats => {
                            document.querySelector('.username').textContent = stats.username;
                            console.log(stats.username);
                        });
                        document.querySelector('.button-connection').innerHTML = '<a href="/">Home</a> <a href="#rules" onclick="togglePopup2()">Rules</a><p class="username"></p> <a href="account.html" class="account-link"><i class="material-icons">account_circle</i></a><button id="logoutButton" style="display: none;">Logout</button>';
                        const logoutButton = document.getElementById('logoutButton');
                        if (logoutButton) {
                            logoutButton.style.display = 'block'; // Show the logout button
                            logoutButton.addEventListener('click', logout);
                        }
                    }
                });
        }
    </script>
    <script src="/JS/logout.js"></script>
</html>