<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/CSS/burger.css">
    <link rel="stylesheet" href="/CSS/popup.css">
    <link rel="stylesheet" href="/CSS/style.css">
    <link rel="stylesheet" href="/CSS/game1.css">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <button class="burger" onclick="show()">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
        </button>
        <nav>
            <h1>Football Games</h1>
            <ul>
                <li>
                    <a href="game1.html">Who are ya ?</a>
                    <p>Description</p>
                </li>
                <li>
                    <a href="game2.html">Player Wordle</a>
                    <p>Description</p>
                </li>
                <li>
                    <a href="game3.html">Game 3</a>
                    <p>Description</p>
                </li>
                <li>
                    <a href="game4.html">Game 4</a>
                    <p>Description</p>
                </li>
                <li>
                    <a href="/">Back to lobby</a>
                </li>
            </ul>
        </nav>
    </div>
    <header>
        <a class="title"></a>
        <section class="button-connection">
            <a href="#rules" onclick="togglePopup2()">Rules</a>
            <a href="#login" onclick="togglePopup()">Login</a>
            <a href="signup.html">Sign Up</a>
        </section>
    </header>
    <main>
        <div id="wrapper">
            <form action="">
                <h1>Login</h1>
                <div class="input-box-login">
                    <input type="text" placeholder="Username" required>
                    <i class="material-icons">
                        account_circle
                    </i>
                </div>
                <div class="input-box-login">
                    <input type="password" placeholder="Password" required>
                    <i class="material-icons">
                        lock
                    </i>
                </div>
    
                <div class="remember-forgot">
                    <label class="checkbox-popup"><input type="checkbox">Remember me</label>
                    <a href="#">Forgot password?</a>
                </div>
    
                <button type="submit" class="btn-login"> Login </button>

                <div class="signup-link">
                    <p>Don't have an account? <a href="signup.html">Signup now</a></p>
                </div>
                <a href="javascript:void(0)" onclick="togglePopup()" class="popup-exit">
                    <i class="material-icons">
                        close
                    </i>
                </a>
            </form>
        </div>
        <div id="wrapper2">
            <form action="">
                <h1>Rules</h1>
                <a href="javascript:void(0)" onclick="togglePopup2()" class="popup-exit">
                    <i class="material-icons">
                        close
                    </i>
                </a>
                <p>Find the good player</p>
                <p>You have 7 attempts</p>
                <p>Some clues will be given during the game</p>
                <p>Good luck !</p>

            </form>
        </div>
        <section class="main">
            <div class="game-content">
                <h1>Who are ya ?</h1>
                <div class= "searching-space">
                    <p>Find the player</p>
                    <div class="reveal-content">
                        <button class="reveal">Reveal player team</button>
                        <img class="team" src="" alt="Player team">
                    </div>
                    <div class="content">
                        <div class="searchInput">
                        <input type="text" placeholder="Enter player name...">
                        <div class="resultBox">  
                        </div>
                        </div>
                    </div>
                </div>
                <div class="map">
                    <div id="map"></div>
                <div class = "guessed-player">
                    <div class= "name7">
                        <div class= "guess-indice7">
                        </div>
                    </div>
                    <div class= "name6">
                        <div class= "guess-indice6">
                        </div>
                    </div>
                    <div class= "name5">
                        <div class= "guess-indice5">
                        </div>
                    </div>
                    <div class= "name4">
                        <div class= "guess-indice4">
                        </div>
                    </div>
                    <div class= "name3">
                        <div class= "guess-indice3">
                        </div>
                    </div>
                    <div class= "name2">
                        <div class= "guess-indice2">
                        </div>
                    </div>
                    <div class= "name1">
                        <div class= "guess-indice1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="retry">
                <button class="playagain">Play again</button>
            </div>
        </section>
    </main>
    <script src="/JS/login.js"></script>
    <script src="/JS/burger.js"></script>
    <script src="/JS/game1.js" type="module"></script>
</html>