<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../static/burger.css">
    <link rel="stylesheet" href="../static/popup.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/game1.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="nav">
        <button class="burger" onclick="show()">
            <div id="bar1" class="bar"></div>
            <div id="bar2" class="bar"></div>
            <div id="bar3" class="bar"></div>
        </button>
        <nav>
            <h1>Football Games</h1>
            <ul>
                <li>
                    <a href="game1.html">Who are ya ?</a>
                    <p>Description</p>
                </li>
                <li>
                    <a href="game2.html">Player Wordle</a>
                    <p>Description</p>
                </li>
                <li>
                    <a href="game3.html">Game 3</a>
                    <p>Description</p>
                </li>
                <li>
                    <a href="game4.html">Game 4</a>
                    <p>Description</p>
                </li>
                <li>
                    <a href="../index.html">Back to lobby</a>
                </li>
            </ul>
        </nav>
    </div>
    <header>
        <a class="title">Who are ya ?</a>
        <section class="button-connection">
            <a href="#login" onclick="togglePopup()">Login</a>
            <a href="signup.html">Sign Up</a>
        </section>
    </header>
    <main>
        <div id="wrapper">
            <form action="">
                <h1>Login</h1>
                <div class="input-box-login">
                    <input type="text" placeholder="Username" required>
                    <i class="material-icons">
                        account_circle
                    </i>
                </div>
                <div class="input-box-login">
                    <input type="password" placeholder="Password" required>
                    <i class="material-icons">
                        lock
                    </i>
                </div>
    
                <div class="remember-forgot">
                    <label class="checkbox-popup"><input type="checkbox">Remember me</label>
                    <a href="#">Forgot password?</a>
                </div>
    
                <button type="submit" class="btn-login"> Login </button>

                <div class="signup-link">
                    <p>Don't have an account? <a href="signup.html">Signup now</a></p>
                </div>
                <a href="javascript:void(0)" onclick="togglePopup()" class="popup-exit">
                    <i class="material-icons">
                        close
                    </i>
                </a>
            </form>
        </div>
        <section class="titre">
            <h1>Find the player</h1>
            <button class="reveal">Reveal player team</button>
            <img class="team" src="" alt="Player team">
            <div class="content">
                <div class="searchInput">
                  <input type="text" placeholder="Enter player name...">
                  <div class="resultBox">  
                  </div>
                </div>
            </div>
            <div class="map">
                <div id="map"></div>
            <div class = "guessed-player">
                <div class= "guess-indice">
                </div>
            </div>
        </section>
    </main>
    <script src="../JS/login.js"></script>
    <script src="../JS/burger.js"></script>
    <script src="../JS/game1.js" type="module"></script>
</body>
</html>