<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/CSS/signup.css">
    <link rel="stylesheet" type="text/css" href="/CSS/popup.css">
    <title>Football Games</title>
</head>
<body>

    <main>
        <a href="/">
            <img class="ball-logo-signup" src="/IMG/ball.png">
        </a>
        <div id="signup-wrapper">
            <form id ="signupForm">
                <h1>Sign Up</h1>
                <div class="input-box-login">
                    <input id="email" type="email" placeholder="Email" required>
                    <i class="material-icons">
                        account_circle
                    </i>
                </div>
                <div class="input-box-login">
                    <input id="password" type="password" placeholder="Password" required>
                    <i class="material-icons">
                        lock
                    </i>
                </div>
                <div class="input-box-login">
                    <input type="password" placeholder="Repeat password " required>
                    <i class="material-icons">
                        lock
                    </i>
                </div>
    
                <div class="remember-forgot">
                    <label><input type="checkbox">I agree to the Terms of User</label>
                </div>

                <div class =signupStatus" id ="signupStatus" style="color:red"></div>
                <button type="submit" class="btn-login"> Sign up </button>
            </form>
            <script src="/JS/login.js"></script>
            <script src="/JS/signup.js"></script>
        </div>
    </main>
</body>
</html>
